{<<"app">>,<<"ex_cldr_messages">>}.
{<<"build_tools">>,[<<"mix">>]}.
{<<"description">>,
 <<"Localized and internationalized message formatting using the\nICU message format integrated with  the ex_cldr family supporting\nover 500 locales">>}.
{<<"elixir">>,<<"~> 1.8">>}.
{<<"files">>,
 [<<"lib">>,<<"lib/cldr">>,<<"lib/cldr/messages">>,
  <<"lib/cldr/messages/exception.ex">>,<<"lib/cldr/messages/backend.ex">>,
  <<"lib/cldr/messages/parser">>,
  <<"lib/cldr/messages/parser/combinators.ex">>,
  <<"lib/cldr/messages/parser/parser.ex">>,
  <<"lib/cldr/messages/messages.ex">>,<<"config">>,<<"config/config.exs">>,
  <<"mix.exs">>,<<"README.md">>,<<"CHANGELOG.md">>,<<"LICENSE.md">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,
 [{<<"Changelog">>,
   <<"https://github.com/elixir-cldr/cldr_messages/blob/v0.1.0-dev/CHANGELOG.md">>},
  {<<"GitHub">>,<<"https://github.com/elixir-cldr/cldr_messages">>},
  {<<"Readme">>,
   <<"https://github.com/elixir-cldr/cldr_messages/blob/v0.1.0-dev/README.md">>}]}.
{<<"name">>,<<"ex_cldr_messages">>}.
{<<"requirements">>,
 [[{<<"app">>,<<"nimble_parsec">>},
   {<<"name">>,<<"nimble_parsec">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 0.5">>}],
  [{<<"app">>,<<"ex_cldr">>},
   {<<"name">>,<<"ex_cldr">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 2.8">>}],
  [{<<"app">>,<<"ex_cldr_numbers">>},
   {<<"name">>,<<"ex_cldr_numbers">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 2.7">>}],
  [{<<"app">>,<<"jason">>},
   {<<"name">>,<<"jason">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 1.1">>}],
  [{<<"app">>,<<"ex_cldr_dates_times">>},
   {<<"name">>,<<"ex_cldr_dates_times">>},
   {<<"optional">>,true},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 2.2">>}],
  [{<<"app">>,<<"ex_money">>},
   {<<"name">>,<<"ex_money">>},
   {<<"optional">>,true},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 4.0">>}],
  [{<<"app">>,<<"ex_cldr_units">>},
   {<<"name">>,<<"ex_cldr_units">>},
   {<<"optional">>,true},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 2.0">>}],
  [{<<"app">>,<<"ex_cldr_lists">>},
   {<<"name">>,<<"ex_cldr_lists">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 2.0">>}]]}.
{<<"version">>,<<"0.1.0-dev">>}.
